<a href="javascript:history.back(1)" class="btn btn-default"><i class="fa fa-reply-all"></i><b>&nbsp;zur&uuml;ck</b></a>
<br />
<br />

<table width="100%" cellpadding="3" cellspacing="1" class="table table-bordered">
  <tr class="warning"> 
    <th colspan="3"><b>{_lang_detailsfrom} {NAME}</b></th>
  </tr><tr>
    <td class="active" width="30%"><i class="fa fa-user"></i>&nbsp;&nbsp;{_lang_nickname}</td>
    <td class="success" width="40%">{NAME}</td>
    <td class="success" width="30%" rowspan="{rowspan}" valign="top" align="center">
		  {AVATA}
		</td>
  </tr><tr>
    <td class="active"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{_lang_regsince}</td>
    <td class="success">{JOINED}</td>
  </tr><tr>
    <td class="active"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;{_lang_lastactivity}</td>
    <td class="success">{LASTAK}</td>
  </tr>
<tr>
{profilefields}
</tr>
	
</table>

<br />
<a href="javascript:history.back(1)" class="btn btn-default"><i class="fa fa-reply-all"></i><b>&nbsp;zur&uuml;ck</b></a>