<div class="btn-group pull-left">
    <a href="index.php?forum-privmsg" class="btn btn-default" >{_lang_inbox}&nbsp;<i class="fa fa-envelope-o"></i></a>
    <a href="index.php?forum-privmsg-showsend" class="btn btn-default" >{_lang_outbox}&nbsp;<i class="fa fa-envelope"></i></a>
    <a href="index.php?forum-privmsg-archiv" class="btn btn-default">Archiv&nbsp;<i class="fa fa-folder-open"></i></a>
</div>
<div class="pull-right">
<a href="index.php?forum-privmsg-new" class="btn btn-default">{_lang_writemessage}&nbsp;<i class="fa fa-pencil-square-o"></i></a>
</div>
<br style="clear:both;">
<br style="clear:both;">
<form action="index.php?forum-privmsg-new" method="POST">
	<div class="panel panel-default">
		<div class="panel-heading">
			<input type="hidden" name="empfid" value="{sid}">
			<input type="hidden" name="bet" value="{titel}">
			<input type="hidden" name="anhang" value="{anhang}">
        	<b>Nachrichtentitel:&nbsp;{titel}</b>
            <br style="clear:both;">
         </div>	
        		<table class="table table-striped table-hover">
        		<thead>
        			<tr>
            			<td>{_lang_sentby} <b>{name}</b> {_lang_on} {time}</td>
        			</tr>
                </thead>
               <tbody>
        			<tr>
            			<td>{txt}</td>
        			</tr>
               </tbody>
             </table>
             <div class="panel-footer">
        			<div class="pull-right btn-group">
                		<button name="re" type="submit"  class="btn btn-default">Antworten &nbsp;<i class="fa fa-pencil-square-o"></i></button>
                    	<button type="button" onclick="document.location.href ='?forum-privmsg-delete-{id}'" class="btn btn-default">l&ouml;schen&nbsp;<i class="fa fa-trash-o"></i></button>
                    	{_if_{archiv}>='1'}
                    	<button type="button" onclick="document.location.href ='?forum-privmsg-toArchiv-{id}'" class="btn btn-default">ins Archiv&nbsp;<i class="fa fa-folder-open"></i>{/_endif}</button>
                    </div>
                    <br style="clear:both;">
            </div>
    </div>
</form>